body {
  background: #eee;
  font-family: sans-serif;
  box-sizing: border-box;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 16px;
}

.title {
  background: #e3f4ff;
  padding: 16px;
}

.content {
  background: #e3f4ff;
  padding: 16px;
  margin: 16px 0;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 16px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 16px 48px;
  display: block;
  margin: 0 auto;
}